.main-content {
  display: flex;
  justify-content: center;
}

.instructions {
  background-color: #152624;
  color: white;
  width: 500px;
}

.lesson-title {
  padding: 20px;
  font-size: 25px;
  background-color: lightgrey;
}
