textarea {
    border: none;
    height:68vh;
     width: 100%; 
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
.form-button{
    border-radius: 5px;
    background-color: lightblue;
    border: 1px solid lightblue;
    padding: 5px;
    margin-left:10px;
}
.lesson-title {
    padding: 20px;
    font-size: 25px;
    background-color: lightgrey;
  }