.main-content {
  /* display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 82vh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

textarea {
  border: none;
  height:72vh;
  /* width: 100%; */
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
     -moz-box-sizing: border-box; /* FF1+ */
          box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.instructions {
  background-color: #152624;
  color: white;
  /* width: 500px; */
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lesson-title {
  padding: 20px;
  font-size: 25px;
  background-color: lightgrey;
}

h1 {
  margin: 20px;
}

p {
  margin: 30px;
}

.navbtns {
  display: flex;
  justify-content: space-around;
  /* border-radius: 5px; */
  /* background-color: lightblue; */
  padding: 5px;
}

button {
  margin: 20px;
  border-radius: 5px;
  background-color: lightblue;
  border: 1px solid lightblue;
}

.instructions-content {
  /* width: 30%; */
}

.userinput-content {
  /* width: 40%; */
}

.useroutput-content {
  /* width: 600px; */
  background-color: red;
  /* flex-grow: 2; */
}
